apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ollama
spec:
  template:
    spec:
      containers:
        - name: ollama
          resources:
            requests:
              cpu: "0.5"
              memory: 2Gi
            limits:
              cpu: "1"
              memory: 3Gi
